
.sb-img-thumb img {
	width: 100px;
	height: 100px;
}

.sb-img-layout img {
	width: 100px;
	height: 100px;
}

#theme-options-wrapper{
	padding: 40px 0px 40px 40px;
	max-width: 1200px;
	position: relative;
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
		-ms-transition: all 150ms ease-in;
		-o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
	text-decoration: none;	
}
#theme-options-wrapper *{
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
		-ms-transition: all 150ms ease-in;
		-o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
	text-decoration: none;	
}
#theme-options-wrapper h1{
	margin-bottom: 20px;
}

#theme-options-wrapper h2{
	margin-bottom: 0px;
	line-height: 1.45em !important;
}
#theme-options .form-control{
	width: 100%;
	margin-bottom: 20px;
	padding-right: 60px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	line-height: 18px;
	clear: both;
}

#theme-options .form-control.info-title{
	margin-bottom: 20px;
	margin-top: 20px;
}

#theme-options .form-control.medium,
#theme-options .form-control.short,
#theme-options .form-control.tiny{
	padding-right: 30px;
	padding-left: 30px;
	float: left;
	clear: none;
}
#theme-options .form-control.medium{
	width: 50%;
}
#theme-options .form-control.short{
	width: 33.33333333%;
}
#theme-options .form-control.tiny{
	width: 25%;
}
#theme-options .form-control.first{
	clear: both;
	padding-right: 30px;
	margin-left: -30px;
}
#theme-options .form-control.last{
	padding-left: 30px;
	margin-right: -30px;
}
#theme-options .form-control.last + div{
	clear: both;
}

#theme-options .form-control label.name{
	display: inline-block;
	font-weight: bold;
	padding-bottom: 5px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
}
#theme-options .form-control input[type=text]{
	width: 100%;
	box-shadow: none;
	height: 34px;
	line-height: 34px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 10px;
	margin: 0;
}
#theme-options .form-control input[type=text]:focus{
	border-color: #95a5a6;
}
#theme-options .form-control span.description{
	display: block;
	font-size: 12px;
	color: #7f8c8d;
	font-style: normal;
	padding-top: 5px;
	clear: both;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
}
#theme-options .form-control span.description.warning{
	font-weight: bold;
}
#theme-options .form-control span.description.warning::before{
	font-weight: normal;
	margin-right: 5px;
}
#theme-options .form-control span.description + span.description{
	padding-top: 0;
}
#theme-options .form-control label.name + span.description{
	padding: 0;
}
#theme-options .form-control textarea{
	width: 100%;
	min-height: 110px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: none;
	font-size: 13px;
	line-height: 20px;
	padding: 5px 10px;
}
#theme-options .form-control label.checkbox{
	display: block;
	margin-bottom: 5px;
}
#theme-options .image-preview{
	display: block;
	padding: 20px 0;
	max-width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#theme-options input[type=checkbox]{
	margin-right: 10px;
}
#theme-options .btn{
	display: inline-block;
	background: #DDDDDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #5e5e5e;
	border: none;
	height: 34px;
	line-height: 34px;
	outline: none;
	padding: 0 30px;
	margin: 8px 8px 0 0;
	cursor: pointer;
	text-shadow: 0px -1px 0px rgba(0,0,0, 0.25);
	font-size: 13px;
}
#theme-options .btn:hover{
	background: #c7c7c7;
	color: #333;
}
#theme-options .btn.image-upload-button:before{
	content: "\f317";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/34px 'dashicons';
	vertical-align: top;
	margin-right: 5px;
}
#theme-options .btn.image-clear-button:before{
	content: "\f182";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/34px 'dashicons';
	vertical-align: top;
	margin-right: 1px;
}
#theme-options .slider_value{
	position: absolute;
	line-height: 27px;
	font-weight: bold;
	top: 0;
	right: 30px;
	font-size: 14px;
	color: #7f8c8d;
}
#theme-options .slider.ui-slider{
	position: relative;
	background: #fff;
	height: 4px;
	border-radius: 100px;
	margin: 15px 0;
	border: 1px solid rgba(189, 195, 199,0.35);
}
#theme-options .slider.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 20px;
	cursor: default;
	background: #e74c3c;
	-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	-webkit-transition: background 150ms ease-in;
		-moz-transition: background150ms ease-in;
		-ms-transition: background 150ms ease-in;
		-o-transition: background150ms ease-in;
		transition: background 150ms ease-in;	
	text-decoration: none;	
	outline: none;
	border-radius: 100px;
	margin-left: -12px;
	margin-top: -8px;
	cursor: pointer;
}
#theme-options .buttons{
	display: table;
	table-layout: fixed;
	width: 100%;
}
#theme-options .buttons input[type=radio]{
	display: none;
}
#theme-options .buttons label{
	display: table-cell;
	width: 1%;
	border-right: 1px solid #F1F1F1;
	background: #DDDDDD;
	padding: 0 5px;
	text-align: center;
	height: 34px;
	line-height: 34px;
	color: #5e5e5e;
	text-shadow: 0px -1px 0px rgba(255,255,255, 0.25);
}
#theme-options .buttons label:hover{
	background: #c7c7c7;
	color: #333
}
#theme-options .buttons label:first-of-type{
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#theme-options .buttons label:last-of-type{
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right: none;
}
#theme-options .buttons label.ui-state-active{
	background: #e74c3c;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0,0,0, 0.2);
}
#theme-options .buttons.buttons-images{
	display: block;
}
#theme-options .buttons.buttons-images label{
	display: inline-block;
	width: auto;
	padding: 0px;
	height: auto;
	line-height: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 3px 3px 0;
	border: none;
	background: #fff;
	padding: 3px;
	border: 1px solid #DDDDDD;
	color: #fff;
	-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	text-decoration: none;	
	outline: none;
	opacity: 0.75;
}
#theme-options .buttons.buttons-images label.ui-state-active{
	background: #fff;
	box-shadow: none;
	padding: 2px;
	border: 2px solid #e74c3c;
	position: relative;
	opacity: 1;
}
#theme-options .buttons.buttons-images label.ui-state-active::after{
	content: "\f147";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/22px 'dashicons';
	vertical-align: top;
	position: absolute;
	background: #e74c3c;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	bottom: -8px;
	right: -8px;
	width: 22px;
	height: 22px;
	text-shadow: none;
	text-indent: -1px;
	z-index: 2;
}
#theme-options .wp-picker-container{
	width: 100%;
	outline: none;
}
#theme-options .wp-picker-container *{
	box-sizing: content-box;
	-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
}
#theme-options .wp-color-result{
	border: none;
	line-height: 34px;
	padding-left: 24px;
	min-height: 34px;
	height: 100%;
	box-shadow: none;
	border: 5px solid #DDDDDD;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; 
	outline: none;
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
		-ms-transition: all 150ms ease-in;
		-o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
}
#theme-options .wp-color-result::after{
	line-height: 24px;
	border: none;
	box-shadow: none;
	background: #DDDDDD;
	color: #5e5e5e;
	padding: 0 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-shadow: 0px -1px 0px rgba(255,255,255, 0.25);
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
		-ms-transition: all 150ms ease-in;
		-o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
}
#theme-options .tiny .wp-color-result{
	width: 100%;
}
#theme-options .tiny .wp-color-result::after{
	padding: 0;
}
#theme-options .wp-picker-container input[type=text]{
	width: 100px !important;
	margin: 0;
	padding: 0;
	text-align: center;
}
#theme-options .wp-color-result:hover{
	border: 5px solid #c7c7c7;
}
#theme-options .wp-color-result:hover::after{
	background: #c7c7c7;
	color: #333;
}
#theme-options .wp-color-picker{
	height: 34px;
	line-height: 34px !important;
	padding: 0 10px;
	font-family: 'Roboto', sans-serif !important;
	margin: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; 
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #DDDDDD;
	outline: none;
}
#theme-options .wp-picker-clear{
	background: #DDDDDD;
	color: #7f8c8d;
	height: 34px;
	line-height: 34px;
	box-shadow: none;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 20px;
	border: none;
	width: auto;
	text-shadow: 0px -1px 0px rgba(255,255,255, 0.25);
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
		-ms-transition: all 150ms ease-in;
		-o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
}
#theme-options .wp-picker-clear:hover{
	background: #BDC3C7;
	color: #444;
}
#theme-options .wp-picker-holder{
	position: absolute;
	z-index: 2;
}
#theme-options .wp-picker-container .iris-picker{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#theme-options .typography{
	position: relative;
}
#theme-options .typography::after{
	content: '';
	display: block;
	clear: both;
}
#theme-options .typography .font-chooser{
	float: left;
	width: 30%;
	padding-right: 30px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; 
}
#theme-options .typography .selectricWrapper{
	float: left;
	max-width: 20%;
	padding-right: 30px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; 
}
#theme-options .typography .font-size{
	float: left;
	width: 30%;
	padding-right: 60px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; 
	position: relative;
}
#theme-options .typography .slider_value{
	right: 0px;
	width: 60px;
	text-align: right;
	line-height: 34px;
}
#theme-options .form-control.typography label.name{
	display: block;
}
#theme-options hr{
	margin-bottom: 40px;
	margin-top: 0;
	clear: both;
	margin-right: 60px;
}
#theme-options .content-frame{
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; 
}
#theme-options .content-frame iframe{
	width: 100%;
	border-radius: 3px;
	min-height: 200px;
}
#save-options-bottom{
	background: #e74c3c;
	color: #fff;
	padding: 15px 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	clear: both;
	display: inline-block;
	margin: 30px 0 0 260px;
	font-size: 16px;
	font-weight: bold;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.05);
}
#save-options-bottom.no-tab{
	margin-left: 0;
}
#reset-options-bottom,
#import-options{
	clear: both;
	display: inline-block;
	margin: 10px 0;
	font-size: 14px;
}
#backup{
	display: inline-block;
	margin: 10px 0;
	font-size: 14px;
}
.restore-backup,
.delete-backup{
	display: inline-block;
	float: right;
	margin-left: 20px;
}
.backup-list li{
	overflow: auto;
	line-height: 30px;
	border-bottom: 1px solid #F1F1F1;
}
#save-options-top{
	background: #e74c3c;
	color: #fff;
	padding: 7px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	font-weight: bold !important;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	z-index: 99999;
	text-decoration: none;
	top: 10px;
	right: 126px;
	margin-right: 10px;
	outline: none;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.05);
}
#save-options-bottom.disabled,
#save-options-top.disabled{
	background: #7f8c8d !important;
}
#options-saved,
#options-error{
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	display: none;
	width: 240px;
	height: 240px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -120px 0 0 -120px;
	color: #fff;
	background: #2ecc71;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; 
	padding-top: 40px;
	border: 20px solid rgba(255, 255, 255, .25);
}
#options-saved strong,
#options-error strong{
	display: block;
	font-weight: bold;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
}
#options-error{
	background: #e74c3c;
}
#tab-list{
	float: left;
	width: 200px;
	margin-right: -200px;
	position: relative;
	z-index: 1;
}
#tab-list li{
	margin: 0;
	padding: 0;
	outline: none;
}
#tab-list a{
	text-decoration: none;
	color: #7f8c8d;
	line-height: 42px;
	border-bottom: 1px solid #DDDDDD;
	display: block;
	outline: none;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
	position: relative;
	-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	outline-color: transparent;	
	box-shadow: none;
}
#tab-list a:hover{
	color: #444;
}
#tab-list .ui-state-active a, #tab-list .ui-state-hover a {
    outline: none;
    box-shadow: none;
}
#tab-list li.ui-state-active a{
	color: #e74c3c;
	border-bottom: 1px solid #e74c3c;
	font-weight: bold;
	outline: none;
}
#tab-list li.ui-state-active a::after{
	content: "\f464";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/42px 'dashicons';
	vertical-align: top;
	font-weight: normal;
	position: absolute;
	right: 0;
}
#tab-list li.ui-state-focus a{
	outline: none;
}
#theme-options > div.tab{
	float: left;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; 
	padding-left: 260px;
	padding-top: 10px;
	position: relative; 
	max-width: 1200px;
}
#theme-options > div.no-tab{
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	padding-top: 10px;
	position: relative; 
	max-width: 940px;
	overflow: auto;
}
.js-switch{
	display: none !important;
}
.switch {
   border: 1px solid #C7C7C7;
   background: #C7C7C7;
   border-radius: 48px;
   display: inline-block;
   width: 36px;
   position: relative;
   height: 18px;
   cursor: pointer;
   transition: all .2s ease-in-out !important;
   margin-right: 10px;
   float: left;
   box-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
   line-height: 22px;
}
.switch .handle {
   border-radius: 50%;
   width: 18px;
   height: 18px;
   background: #fff;
   position: absolute;
   transition: all .2s ease-in-out !important;
}
.switch.on {
   background: #4cd864;
   border-color: #4cd864;
}
.switch.on .handle {
   right: 0;
}
#theme-options .message{
	border-radius: 3px;
	padding: 20px;
	background: #E5E5E5;
}
#theme-options .message h3{
	margin: 0 0 3px 0;
}
#theme-options .message p{
	margin: 0 0 10px 0;
}
#theme-options label.name + .message{
	margin-top: 10px;
}
#theme-options .message .even,
#theme-options .message .odd{
	display: none;
}
#theme-options .message.with-list .even{
	display: block;
}
#theme-options .message.no-list .odd{
	display: block;
}
#theme-options .code{
	font-family: monospace;
}

/* Small Screens */
@media only screen and (max-width : 1023px) {
	#theme-options-wrapper{
		padding: 40px 0;
	}
	#theme-options div.tab{
		padding-left: 220px;
	}
	#theme-options .form-control{
		width: 100% !important;
		padding: 0 20px 0 0!important;
		float: none !important;
		clear: both;
		margin: 0 0 30px 0!important;
	}
	#theme-options .tiny .wp-color-result{
		width: auto;
	}
	#theme-options .tiny .wp-color-result::after{
		padding: 0 20px;
	}
}

/* Mobile */
@media only screen and (max-width : 782px) {
	#theme-options-wrapper{
		padding: 40px 0 40px 10px;
	}
	#theme-options div.tab{
		padding-left: 0;
		float: none;
	}
	#theme-options ul#tab-list{
		float: none;
		width: auto;
		margin: 0 20px 30px 0;
	}
	#theme-options > ul li{
		display: inline-block;
		width: 100%;
	}
	#theme-options .form-control.typography > div{
		float: none;
		width: 100%;
		margin-bottom: 5px;
		max-width: 100%;
		padding: 0;
	}
	#theme-options .form-control.typography div.font-size{
		padding-right: 60px;
		margin: 5px 0;
		float: left;
	}
	#theme-options .form-control.typography div.slider_value{
		width: 60px;
	}
	#save-options-bottom{
		margin: 0 20px 20px 0;
		display: block;
		text-align: center;
	}
	#theme-options .form-control label.name{
		font-size: 16px;
	}
	#save-options-top{
		display: none;
	}
	.switch {
	   height: 20px;
	   bottom: -4px;
	   width: 40px;
	}
	.switch .handle {
	   width: 20px;
	   height: 20px;
	}
	#theme-options .form-control label.checkbox{
		line-height: 30px;
	}

	img.mob-responsive {
		width: 100%;
		max-width: 100%;
		height: auto;
	}

}