/*
SB Action Boxes - Frontend CSS 
This file is loaded on the frontend and uses the .sb_actionboxes namespace specificity to avoid clashing with any themes.
*/

/* Video */

.sbvideoWrapper {
    width: 80%;
    max-width: 640px;
    margin: 0 auto;
}

.sbvideoContainer {
    position: relative;
    padding-bottom: 58%; /* 550:340 */
    padding-top: 25px;
    height: 0;
}

.sbvideoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sb_actionboxes {
	background: #ffffff;
	border-radius: 5px;
	border: 2px solid #cccccc;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    4px 4px 4px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         4px 4px 4px 0px rgba(50, 50, 50, 0.6);
	margin-top: 20px;
}

.sb_actionboxes .sb_header {
	font-size: 20px;
	font-weight: bold;
	line-height: 1em;
	color: #000;
}

.sb_actionboxes .sb_text {
	font-weight: normal;
	line-height: 1em;
	color: #474747;	
	margin: 1em 0;
}

.sb_actionboxes .sb_text p {
	font-size: inherit !important;
	line-height: 1.33em;
}

.sb_actionboxes .sb_image {

}

.orange-button {
  background: #e29626;
  padding: 10px 7px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  height: auto;
  font-size: 1.33em;
}

.orange-button:hover {
  color: #000;
}

.orange-text {
  color: #e29626
}

/*
Pseudo CSS reset - http://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only
*/
.sb_actionboxes .sb_image img {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : pointer;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
	
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}


.sb_actionboxes ._1c2 {
	width: 50%;
}

.sb_actionboxes ._1c3 {
	width: 33.333%;
}

.sb_actionboxes ._2c3 {
	width: 66.666%;
}

.sb_actionboxes .group:after {
  content: "";
  display: table;
  clear: both;
}

.sb_actionboxes .mbottom0 {
	margin-bottom: 0 !important;	
}	

.sb_actionboxes .mbottom10 {
	margin-bottom: 10px !important;	
}	

.sb_actionboxes .mbottom20 {
	margin-bottom: 20px !important;	
}	

.sb_actionboxes .mtop0 {
	margin-top: 0 !important;	
}

.sb_actionboxes .mtop10 {
	margin-top: 10px !important;	
}

.sb_actionboxes .mtop10 {
	margin-top: 10px !important;	
}

.sb_actionboxes .sb_actionboxes .mtop20 {
	margin-top: 20px !important;	
}

.sb_actionboxes .p-right20 {
	padding-right: 20px !important;
}

.sb_actionboxes .p-left20 {
	padding-left: 20px !important;
}

.sb_actionboxes .f-left {
	float:left !important;	
}

.sb_actionboxes .f-right{
	float:right !important;	
}

.sb_actionboxes.box-wrapper, .sb_actionboxes .box-wrapper {
	padding: 20px;
}

.sb_actionboxes .inline-block {
	display: inline-block !important;	
}

.sb_actionboxes .centered-text {
	text-align: center !important;	
}

.sb_actionboxes.responsive {
	width: 100%;
	height: auto;	
}

@media all and (max-width: 767px){

	.sb-actionbox {
		width: 100%;
	}

	.sb_actionboxes .m1c1 {
		width:100%;
	}

}	